.success {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: #0cc solid 4px;
  border-radius: 50%;
}

.success > svg {
  width: 70px;
  height: 70px;
}
