.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1280px;
  box-sizing: border-box;
  gap: 40px;
  margin: 0 auto;
}

.main_loader { 
  align-items: center;
  height: calc(100vh - 88px);
}

@media screen and (max-width: 1300px) {
  .main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }
}
