.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: #F2F2F3;
  text-decoration: none;
}

.image {
  width: 240px;
  height: 120px;
  object-fit: contain;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  margin: 0;
  min-height: 48px;
  text-align: center;
}

.counter {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.counter_active {
  display: block;
}
