.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 40px;
  background-color: inherit;
  font-style: 0;
  text-decoration: none;
  cursor: pointer;
}

.link_active {
  color: #f2f2f3;
}
