.list-item {
  display: flex;
  position: relative;
  scroll-snap-align: start;
}

.list-item_dragging {
  opacity: .3;
}

.icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
