.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}

.title {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > div {
  margin-bottom: 24px;
}

.nav {
  margin-bottom: 16px;
}

.nav:last-of-type {
  margin-bottom: 0;
}

.link {
  color: #4c4cff;
}

@media screen and (min-width: 768px) {
  .form > div > div {
    width: 480px;
  }
}

@media screen and (max-height: 800px) {
  .container {
    margin-top: 100px;
  }
}
