.container {
  max-width: 600px;
}

.tab {
  display: flex;
}

.content {
  height: calc(100vh - 284px);
  min-height: 262px;
  overflow-y: auto;
}

.content::-webkit-scrollbar-track {
  margin-bottom: 52px;
}
